USE [master]
GO
/****** Object:  Database [MeditationDB]    Script Date: 26.07.2021 16:37:19 ******/
CREATE DATABASE [MeditationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MeditationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MeditationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MeditationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MeditationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MeditationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MeditationDB]
GO
/****** Object:  User [MeditationUser]    Script Date: 26.07.2021 16:37:19 ******/
CREATE USER [MeditationUser] FOR LOGIN [MeditationUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [MeditationUser]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26.07.2021 16:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [char](20) NULL,
	[UserPass] [char](20) NULL,
	[UserNameSurname] [char](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActivity]    Script Date: 26.07.2021 16:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActivity](
	[ActivityId] [int] IDENTITY(1,1) NOT NULL,
	[ActivityUserId] [int] NOT NULL,
	[ActivityType] [char](1) NOT NULL,
	[ActivityStart] [datetime] NULL,
	[ActivityEnd] [datetime] NULL,
 CONSTRAINT [PK_UserActivity] PRIMARY KEY CLUSTERED 
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [UserPass], [UserNameSurname]) VALUES (1, N'Iren                ', N'Password1           ', N'Iren Can                                          ')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserActivity] ON 

INSERT [dbo].[UserActivity] ([ActivityId], [ActivityUserId], [ActivityType], [ActivityStart], [ActivityEnd]) VALUES (34, 2, N'1', CAST(N'2021-07-26T16:30:24.397' AS DateTime), CAST(N'2021-07-26T16:30:26.603' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserActivity] OFF
GO
USE [master]
GO
